#block {
    font-size: 160%;
    font-family: "Calibri", sans-serif;
}
#block1 {
    background: lightcyan;
    height: 90px;
    width: 620px;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, 0);
}
#block2 {
    background: darkgrey;
    height: 60px;
    width: 620px;
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: right;
}

#bangbang {
    display: grid;
    justify-content: center;
    background: lightsteelblue;
    height: 550px;
    width: 620px;
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -40%);
}

#get {
    height: 85px;
    width: 280px;
    font-size: 160%;
    font-family: "Calibri", sans-serif;
}

#bangbang button {
    margin-bottom: -5px;
    height: 80px;
    width: 110px;
    font-size: 160%;
    font-family: "Calibri", sans-serif;
}
